# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# macOS
.DS_Store

# Environment variables
.env

# Logs
*.log

# Virtual environment
venv/

dirac_strings.txt